.layout__header {
    height: 75px;
    padding: 0 40px 0 30px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--light-purple);
    justify-content: space-between;
    width: 100vw;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    background: var(--background);
}

.layout__header_actions {
    display: flex;
    gap: 40px;
}

.layout__header_actions_text {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    gap: 10px;
    cursor: pointer;

    & img {
        height: 13px;
        width: auto;
    }
}

.layout__popup {
    position: fixed;
    z-index: 110;
    top: 65px;
    right: 41px;
    white-space: nowrap;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    border: 1px solid;
    border-image-slice: 10;
    border-image-source: linear-gradient(
        180deg,
        rgba(220, 170, 255, 0.5) 0%,
        rgba(191, 105, 254, 0.5) 100%
    );
    background: var(--background);
    padding: 15px 20px;
    font-weight: 500;
    color: var(--foreground);
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
}

.layout__popup-opened {
    opacity: 1;
    transform: translateY(0);
}

.layout__main {
    padding-top: 75px;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
}

.layout__main_content {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 77px);
    height: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
}

.layout__main_search {
    padding: 10px 40px 12px 30px;
    border-bottom: 1px solid var(--light-purple);
    position: relative;

    & img {
        position: absolute;
        background: url("/search.svg");
        height: 16px;
        top: 22px;
        left: 44px;
        background-size: cover;
    }

    & input {
        border: 0;
        background: #1d0c2b;
        transition: all 150ms ease-in-out;
        width: 100%;
        padding: 10px 10px 10px 44px;
        color: #dcaaff;
        font-weight: 300;
        font-size: 15px;
        line-height: 23px;
        &:focus {
            background: #220f31;
            outline: none;
        }
        &::placeholder {
            background: linear-gradient(180deg, #dcaaff 0%, #bf69fe 100%);
            background-clip: text;
            background-size: cover;
            color: transparent;
            text-transform: uppercase;
            opacity: 50%;
        }
    }
}

.layout__navbar {
    box-sizing: border-box;
    padding-top: 30px;
    width: 77px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    border-right: 1px solid var(--light-purple);
    gap: 26px;
}

.layout__navbar_icon {
    position: relative;
    cursor: pointer;
    min-width: 20px;

    & img {
        transition: all 150ms ease-in-out;
        position: absolute;
        top: 0;
        left: 0;
    }

    & img:first-child {
        opacity: 100%;
    }

    & img:last-child {
        opacity: 0%;
    }

    &:hover img:first-child {
        opacity: 0%;
    }

    &:hover img:last-child {
        opacity: 100%;
    }
}

.layout__footer {
    height: 160px;
    box-sizing: border-box;
    border-top: 1px solid var(--light-purple);
    width: 100vw;
    padding: 50px 40px 30px 30px;
    display: flex;
    justify-content: space-between;
}

.layout__footer_left {
    font-size: 12px;
    font-weight: 300;
    line-height: 15px;
    color: #7e7797;
    display: flex;
    flex-direction: column;
    gap: 10px;

    & img {
        width: 89px;
    }

    & span {
        opacity: 50%;
    }
}

.layout__footer_links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
    & > *{
        cursor: pointer;
    }
}

thead{
    padding: 30px 40px 15px 30px;
}

td {
    text-align: center;
    & button {
        margin-left: 40px;
    }
}

th {
    padding: 30px 0 15px 0;
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    background: linear-gradient(180deg, #dcaaff 0%, #bf69fe 100%);
    background-clip: text;
    background-size: cover;
    color: transparent;

    & div {
        display: flex;
        gap: 5px;
        align-items: center;
        justify-content: center;

        & .arrow {
            height: 7px;
        }
    }
}

tbody tr {
    padding: 15px 40px 15px 30px;
    cursor: pointer;
    transition: all 150ms ease-in-out;
    height: 80px;
    color: var(--foreground);
    font-weight: 300;

    &:hover .table__maintd .table__maintd_cntnr > img {
        opacity: 100%;
    }
    &:hover{
        background: #220F31;
    }
}

table {
    table-layout: auto;
    width: 100%;
}

.table__maintd .table__maintd_cntnr {
    padding-left: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;

    & > img {
        opacity: 40%;
        transition: all 150ms ease-in-out;
    }
}

.table__td{
    width: 120px;
}

.table__maintd_token {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #f0dcff;
    & img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
    }
    text-transform: uppercase;
}

.table__maintd_x {
    position: relative;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table__maintd_x_1{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 20%;
    height: 30px;
    width: 30px;
    border: 1px solid;
    backdrop-filter: blur(2px);
    border-image-slice: 10;
    border-image-source: linear-gradient(180deg, #dcaaff 0%, #bf69fe 100%);

    & img {
        width: 30px;
        height: 30px;
    }
}

.table__maintd_x_2{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 20%;
    height: 30px;
    width: 30px;
    border: 1px solid;
    backdrop-filter: blur(5px);
    border-image-slice: 10;
    border-image-source: linear-gradient(180deg, #dcaaff 0%, #bf69fe 100%);
}